* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* intestazione */

img {
    max-width: 100px;
}

header {
    background-color: lightblue;
    margin-bottom: 2%;
}

.main-header {
    padding: 10px 25px;
}


.logo {
    max-width: 100px;
}

.logo-text {
    display: inline-block;
    font-size: 45px;
    vertical-align: text-bottom;
}

.container {
    max-width: 500px;
    margin: 0 auto;
}

.add-task {
    background-color: #47adf1;
    color: white;
    padding: 5px 15px;
    font-size: 15px;
    border-radius: 10px;
    text-align: center;
}

.add-section {
    background-color: white;
    color: lightgray;
    padding: 5px 15px;
    font-size: 15px;
    border-radius: 10px;
    text-align: center;
}